/* CSS styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    height: 12vh;
    margin-top: 10px;
}

.image-container {
    transform: scale(0.6);
    overflow: hidden;
    padding: 15px;
}

h1 {
    font-size: 32px;
    color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #18d366;
    overflow: hidden;
    font-weight: bold;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ddd;
}

nav li a.active {
    background-color: #fd6c03;
    color: #fff;
}

.who-we-are {
    font-family: 'blanka';
    font-size: 50px;
    color: #fd7c03;
    text-align: center;
}

p.description {
    text-align: justify;
    font-family: 'Algiria';
    margin: 0 auto;
    text-align: left;
    text-indent: 0px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding: 0 20px;
    line-height: 25px;

}

p.description::first-letter {
    font-size: 1.5em;
    /* Adjust the font size as desired */
    font-weight: bold;
    /* Make the first letter bold */
}

#message {
    display: none;
    color: green;
    font-weight: bold;
    text-align: center;
}

.elgif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
    margin-top: 7px;
    margin-bottom: 5px;
}

footer {
    background-color: #312f2f;
    position: relative;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.powered-by {
    width: auto;
    height: 30px;
    margin-left: 10px;
}
