body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    height: 12vh;
    margin-top: 10px;
}

.image-container {
    transform: scale(0.6);
    overflow: hidden;
    padding: 15px;
}

h1 {
    font-size: 32px;
    color: #333;
}

.contact-form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    padding-right: 20px;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    z-index: 9999;

}

.contact-form-popup h2 {
    margin-top: 0;
}

.contact-form-popup form {
    margin: 0;
}

.contact-form-popup label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form-popup input[type="text"],
.contact-form-popup input[type="email"],
.contact-form-popup input[type="tel"],
.contact-form-popup textarea {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.contact-form-popup .submit-button {
    background-color: #45a049;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.contact-form-popup .submit-button:hover {
    background-color: #04f80d;
    color: #050404;
    font-weight: bold;
}

.contact-form-popup .close-button {
    background-color: #ccc;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
}

.contact-form-popup .close-button:hover {
    background-color: #a51313e8;
    font-weight: bold;
    color: #050404;
}

.open-button {
    margin-top: 40px;
    margin-left: 20px;
    top: 40px;
    right: 30px;
    padding: 10px;
    background-color: #e8ea51;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-shadow: #050404;
    font-weight: bold;
    font-size: large;
}

.open-button:hover {
    background-color: #a1d6e5;
}

#thank-you-popup {
    display: none;
    margin: auto;
    text-align: center;
    margin-top: 60px;
    /* Hide the "thank you" popup by default */
}

#contact-animation {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #18d366;
    overflow: hidden;
    font-weight: bold;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ddd;
}

nav li a.active {
    background-color: #FD6C03;
    color: #fff;
}


html,
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.contact-section {
    text-align: center;
    margin-bottom: 20px;
}

.quote-section {
    text-align: center;
    margin-top: 20px;
}

.quote {
    font-style: italic;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.author {
    font-weight: bold;
    font-size: 14px;
    color: #777;
}

footer {
    background-color: #312f2f;
    position: relative;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.powered-by {
    width: auto;
    height: 30px;
    margin-left: 10px;
}
