body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    height: 12vh;
    margin-top: 10px;
}

.image-container {
    transform: scale(0.6);
    overflow: hidden;
    padding: 15px;
}

h1 {
    font-size: 32px;
    color: #333;
}

.logo {
    width: 60px;
    height: 60px;
    margin-top: 7px;
    margin-right: 2px;
    margin-left: 2px;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #18d366;
    overflow: hidden;
    font-weight: bold;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a.active {
    background-color: #FD6C03;
    color: #fff;
}

main {
    padding: 20px;
}

.heading {
    font-size: large;
    font-weight: bold;
}

.container {
    font-family: 'Algiria';
    margin: 0 auto;

    text-align: left;

}

p {
    margin-bottom: 10px;

}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: #312f2f;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.powered-by {
    width: auto;
    height: 30px;
    margin-left: 10px;
}
