body {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    align-items: center;
    height: 12vh;
    margin-top: 10px;
}

.image-container {
    transform: scale(0.6);
    overflow: hidden;
    padding: 15px;
}

h1 {
    font-size: 32px;
    color: #333;
}

#updates-container {
    padding: 20px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: auto;
    text-align: center;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #18d366;
    overflow: hidden;
    font-weight: bold;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

nav li a:hover {
    background-color: #ddd;
}

nav li a.active {
    background-color: #FD6C03;
    color: #fff;
}

main {
    padding: 20px;
}

.motivation {
    display: grid;
    place-items: center;
}

footer {
    background-color: #312f2f;
    position: relative;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.powered-by {
    width: auto;
    height: 30px;
    margin-left: 10px;
}
